{% macro add_one(value) -%}
    {% if value.startswith("http") %}
        <tr><td><a href="{{ value }}">{{ value }}</a></td></tr>
    {% else %}
        <tr><td>{{ value }}</td></tr>
    {% endif %}
{%- endmacro %}

{% macro add_one_or_many(title, value) -%}
    {% if value is string %}
        <tr><th>{{ title }}</th></tr>
        {{ add_one(value) }}
    {% elif value is sequence %}
        <tr><th>{{ title }}</th></tr>
        {%- for item in value %}
            {{ add_one(item) }}
        {%- endfor %}
    {% else %}
    {% endif %}
{%- endmacro %}


<div class="{{ class_name }}">
    <table>
        <tbody>
            {{ add_one_or_many("Homepage", data.homepage) }}
            {% if data.urls is defined %}
                {{ add_one_or_many("Other links", data.urls) }}
            {% endif %}
            {% if data.about %}
            <tr><th>About</th></tr>
            <tr><td>{{- data.about -}}</td></tr>
            {% endif %}
            {%- if data.requirements is defined %}
                {{ add_one_or_many("Requirements", data.requirements) }}
            {%- endif %}
            {%- if data.downloads is defined %}
                {{ add_one_or_many("Downloads", data.downloads) }}
            {%- endif %}
        </tbody>
    </table>
</div>
