:root>* {
  --md-default-bg-color: #261E20;
  --md-primary-fg-color: #43634D;
  --md-typeset-a-color: #F5ED58;
  --md-accent-fg-color: #C7522B;
}

div.fomod_settings div.md-typeset__table tr,
div.mo2_mods div.md-typeset__table tr,
div.project_info div.md-typeset__table tr {
  display: inline-table;
  width: 100%;
}

div.fomod_settings div.md-typeset__table th.section,
div.mo2_mods div.md-typeset__table td,
div.project_info div.md-typeset__table td {
  padding-left: 40px;
}

div.project_info div.md-typeset__table th {
  background-color: #43634D44;
}

div.project_info div.md-typeset__table td {
  background-color: #43634D11;
}

div.mo2_mods div.md-typeset__table th {
  background-color: #C7522B44;
}

div.mo2_mods div.md-typeset__table td {
  background-color: #C7522B11
}

div.mo2_launcher div.md-typeset__table tr {
  background-color: #f5ed5811;
}

div.mo2_launcher div.md-typeset__table tr td.title {
  font-weight: 100;
}

div.fomod_settings div.md-typeset__table th.page {
  background-color: #f559f255;
  font-weight: 800;
}

div.fomod_settings div.md-typeset__table th.section {
  background-color: #f559f233;
  font-weight: 100;
}

div.fomod_settings div.md-typeset__table td {
  background-color: #f559f211;
  width: 40%;
}

div.fomod_settings div.md-typeset__table td.spacer {
  width: 20%;
}

div.fomod_settings div.md-typeset__table td.default {
  font-weight: 100;
}

div.fomod_settings div.md-typeset__table td.selected {
  font-weight: 800;
}

div.fomod_settings div.md-typeset__table td.default.selected {
  font-weight: 800;
  width: 80%;
}

div.fomod_settings div.md-typeset__table span.notes {
  font-size: x-small;
  font-weight: 100;
}
